* {
    font-family: sans-serif;
}

form {
    background-color: rgb(255, 255, 200);
    width: 60%;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0px auto;
}

.content {
    background-color: rgb(252, 207, 215);
    margin: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
}

.content-item {
    margin: 5px 0;
}

.content-item input {
    margin-left: 10px;
}

/* input#start {
    margin-left: 38px;
}

input#end {
    margin-left: 44px;
}

input#duration {
    margin-left: 16px;
} */

#submit {
    border: none;
    color: white;
    background-color: rgb(95, 199, 240);
    margin-top: 10px;
    padding: 5px 15px;
}

#output {
    color: grey;
}